.button {
  width: fit-content;
  min-width: fit-content;
  display: block;
  text-align: center;
  padding: 0.8rem 1rem;
  border-radius: 7px;
  transition: 0.25s;
  font-size: 1.1em;
  &:active {
    transform: scale(0.97);
  }
  &:active {
    text-decoration: none !important;
  }
  &:disabled {
    opacity: 0.7 !important;
    text-decoration: none !important;
    cursor: not-allowed;
  }
  &.loading {
    animation: skeleton-loading 1.5s infinite alternate;
    font-size: 0;
    line-height: 1.3rem;
  }
}

.button-primary {
  @extend .button;
  background: var(--primary);
  color: #fff !important;
  text-decoration: none !important;
  &:hover {
    background: var(--brightprimary) !important;
    color: #fff !important;
    text-decoration: none !important;
  }
  &:active {
    color: #fff !important;
  }
  &:disabled {
    color: #fff !important;
    &:hover {
      background: var(--primary) !important;
    }
  }
}
.button-secondary {
  @extend .button;
  background: var(--secondary);
  color: #fff !important;
  text-decoration: none !important;
  &:hover {
    background: var(--brightsecondary) !important;
    color: #fff !important;
    text-decoration: none !important;
  }
  &:active {
    color: #fff !important;
    text-decoration: none !important;
  }
  &:disabled {
    color: #fff !important;
    &:hover {
      background: var(--secondary) !important;
    }
  }
}