.carousel {
  margin: 2rem 0;
}
.slide {
  width: 100%;
  margin: auto;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
[dir="rtl"] .slick-prev {
  left: 92% !important;
  z-index: 1;
}
[dir="rtl"] .slick-next {
  left: 3% !important;
  z-index: 1;
}
.slick-next::before {
  content: "›" !important;
  font-size: 3rem;
  line-height: inherit !important;
  font-weight: bolder;
}
[dir="rtl"] .slick-next::before {
  content: "‹" !important;
}
.slick-prev::before {
  content: "‹" !important;
  line-height: inherit !important;
  font-size: 3rem;
  font-weight: bolder;
}
[dir="rtl"] .slick-prev::before {
  content: "›" !important;
}
.bare-img{
  display: block;
  width: 100%;
}
.bare-img img {
  display: block;
  width: 100%;
}