:root {
  --orange: #FB8500;
  --honey: #FFB703;
  --blue: #0e215e;
  --cyan: #3eacb1;
  --ocean: #8ECAE6;
}

// Global
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: ease 0.4s;
  color: #333;
  z-index: 10000;
  box-shadow: 4px 1px 20px 0px rgba(0, 0, 0, 0.1)
}
.squeez {
  margin-top: -35px;
}

// Top Bar
.top-bar {
  background: #333;
  border-bottom: #8f8f8f 1px solid;
  color: #fff;
  padding: 0.4rem;
  font-size: 0.8rem;
  .lang-btn {
    background: none;
    border: none;
    color: #fff;
  }
  .lang-btn:hover, .lang-btn:active {
    text-decoration: underline;
  }
  .top-bar-content-container>*:not(:last-child){
    padding-inline-end: 0.5rem;
    // margin-inline-end: 5px;
    border-inline-end: 1px #9b9b9b solid ;
  }
  // @media (max-width: 575px) {
  //   display: none;
  // }
}
// Main Bar
.nav-container>*:not(:last-child) {
  margin-inline-end: 1rem;
}
.nav-container {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 1rem;
  background: #fdf2dc;
  border-bottom: var(--honey) 2px solid;
  display: grid;
  grid-template-columns: auto 6fr auto;
  // gap: 1rem;

  .logo-container {
    height: 100%;
    height: 100%;
  }
  .logo-container img {
    height: 100%;
  }
  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.6rem;
      .inside-container {
        position: relative;
        border-radius: 2px;
        background: var(--orange);
        width: 80%;
        @media(max-width: 845px) {
          width: 100%;
        }
        box-shadow: 0 1px 8px 2px rgba(66, 33, 0, 0.12);
        margin: auto;
        display: flex;
        align-items: center;
        height: fit-content;
      }
      .search-bar {
        width: 100%;
        border: var(--orange) solid 1px;
        border-radius: 0 !important;
        border-start-start-radius: 2px !important;
        border-end-start-radius: 2px !important;
        padding: 0.3rem 0.5rem;
        position: relative;
      }
      .search-icon {
        background: var(--orange);
        padding: 0 0.9rem;
        color: #fff;
      }
  }
  .links>*:not(:last-child){
    padding-inline-end: .5rem;
    margin-inline-end: .5rem;
    border-inline-end: 1px #9b9b9b solid ;
  }
  .links .icon {
    color: var(--orange);
  }
}
