// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


@import './carousel';
@import './header';
@import './embed';
@import './products';

@font-face {
  font-family: "Frugiter";
  src: url("../fonts/frutiger-arabic.ttf") format("truetype");
}

// Utitlities
html {
  height: 100%;
}
::placeholder {
  color: #a3a3a3;
}
body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f8f5f1;
}
* {
  font-family: 'Poppins', 'Frugiter', sans-serif !important;
  box-sizing: border-box;
}
textarea:focus, input:focus, textarea:active, input:active{
  outline: none;
}
h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
}
button {
  background: none;
  border: none;
}
a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
  &:hover {
    text-decoration: underline !important;
    color: inherit;
  }
}
input[type="text"] {
  width: 100%;
  border: var(--orange) solid 1px;
  border-radius: 7px !important;
  padding: 0.5rem 0.5rem;
  position: relative;
}
.gap-auto>*:not(:last-child) {
  margin-inline-end: 0.5rem !important;
}
.gap-auto-1>*:not(:last-child) {
  margin-inline-end: 0.2rem !important;
}
.space-even>*:not(:last-child) {
  margin-bottom: 0.4rem;
}
.root {
  margin: auto;
  margin-top: 9rem;
  padding: 0.8rem;
  min-height: 90vh;
  max-width: 80%;
  @media (max-width: 826px) {
    max-width: 90%;
  }
  @media (max-width: 682px) {
    max-width: 95%;
  }
  @media (max-width: 500px) {
    max-width: 100%;
  }
}
.spinner-orange {
  color: var(--orange);
}
.error {
  width: 100%;
  background: rgba(219, 17, 17, 0.658);
  border: 1px solid rgba(189, 7, 7, 0.507);
  padding: 0.6em 1.5em;
  border-radius: 7px;
  color: #fff;
}
.muted {
  color: #a3a3a3;
  font-size: 13px !important;
}