@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import './header';
@import './carousel';

@font-face {
  font-family: "Frugiter";
  src: url("../fonts/frutiger-arabic.ttf") format("truetype");
}

// Utitlities
html {
  height: 100%;
}
body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f8f5f1;
}
* {
  font-family: 'Poppins', 'Frugiter', sans-serif !important;
  box-sizing: border-box;
}
textarea:focus, input:focus, textarea:active, input:active{
  outline: none;
}
button {
  background: none;
  border: none;
}
.gap-auto>*:not(:last-child) {
  margin-inline-end: 0.5rem !important;
}
